@model Bakery.ViewModels.HomeViewModel

<h2>Pierre's Something Something Flavors Treats</h2>

<p>Please select an action below</p>

<p>If you have not done so please register for an account</p>
<p>If you have registered for an account please login</p>

<p>Add a treat</p>
<p>Add a flavor</p>

<hr />

@if (Model.Treats.Count != 0)
{
  <h5>Treats</h5>
  @await Html.PartialAsync("_Tables/_Treats", Model.Treats)
}
else
{
  <h5>No Treats currently created</h5>
}

@if (Model.Flavors.Count != 0)
{
  <h5>Flavors</h5>
  @await Html.PartialAsync("_Tables/_Flavors", Model.Flavors)
}
else
{
  <h5>No Flavors currently created</h5>
}

<hr />
