@model Bakery.ViewModels.HomeViewModel

<h2>Pierre's Something Something Flavors Treats</h2>

<hr />

@if (Model.Treats.Count != 0)
{
  <h5>Treats</h5>
  @await Html.PartialAsync("_Tables/_Treats", Model.Treats)
}
else
{
  <h5>No Treats currently created</h5>
}

@if (User.Identity.IsAuthenticated)
{
  @await Html.PartialAsync("_Buttons/_AddTreat")
}


@if (Model.Flavors.Count != 0)
{
  <h5>Flavors</h5>
  @await Html.PartialAsync("_Tables/_Flavors", Model.Flavors)
}
else
{
  <h5>No Flavors currently created</h5>
}

@if (User.Identity.IsAuthenticated)
{
  @await Html.PartialAsync("_Buttons/_AddFlavor")
}


<hr />
