@section ValidationScripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}

@model Bakery.Models.Treat

<h4>Add a new Treat</h4>

@using (Html.BeginForm())
{
  @await Html.PartialAsync("_Forms/_Treat")
  <br />
  <button>Add new treat</button>
}
