@section ValidationScripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}

@model Bakery.Models.Flavor

<h4>Add a new Flavor</h4>

@using (Html.BeginForm())
{
  @await Html.PartialAsync("_Forms/_Flavor")
  <br />
  <button>Add new flavor</button>
}
