@section ValidationScripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}

@model Bakery.Models.Flavor

<h4>Add a new Flavor</h4>

@await Html.PartialAsync("_Forms/_Flavor")
